--swiftversion 5.3
--exclude Pods
--enable wrapEnumCases
--nospaceoperators ..., ..<
--commas inline
--enable andOperator
--enable blankLinesAtEndOfScope
--enable blankLinesAtStartOfScope
--enable blankLinesBetweenScopes
--enable consecutiveBlankLines
--enable consecutiveSpaces
--enable duplicateImports
--enable redundantBreak
--enable redundantExtensionACL
--enable redundantFileprivate
--enable redundantGet
--enable redundantInit
--enable redundantLet
--enable redundantNilInit
--enable redundantParens
--enable redundantRawValues
--enable redundantReturn
--enable redundantVoidReturnType
--enable redundantObjc
--importgrouping testable-first
--allman "false"
--wrapparameters after-first
--wraparguments before-first
--disable initCoderUnavailable
--disable preferKeyPath
--disable wrapMultilineStatementBraces
--disable redundantType